@import url("bootstrap/dist/css/bootstrap.min.css");

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    background-color: black;
}

.dashboard {
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: black;
    color: white;
    letter-spacing: 1px;
}

.typewriter {
  display: inline-block;
  overflow: hidden;
  white-space: nowrap;
  border-right: 2px solid rgb(255, 249, 249); /* optional cursor */
  font-family: monospace;
  font-weight: bold;
  animation: typing 2s steps(21), blink 0.5s step-end infinite alternate;
}

@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 21ch; /* number of characters */
  }
}

@keyframes blink {
  50% {
    border-color: transparent;
  }
}

.allPostContainer {
    /* border: 2px solid red; */
    background: linear-gradient(rgb(113, 113, 113), black);
    height: 100vh;
}

.allPostContainer article {
    width: 90%;
    margin: 0 auto;
    /* border: 2px solid red; */
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 10px;
}

.allPostContainer article aside {
    display: flex;
    flex-direction: column;
    gap: 1px;
    background: linear-gradient(black, gray);
    color: white;
    border-radius: 5px;
    /* flex-basis: 15%; */
    /* align-items: center; */
    padding: 10px;
    box-shadow: 2px 2px 2px 2px black;
}

.allPostContainer article aside h3,p {
    /* background-color: black; */
    width: 100%;
    text-align: center;
    /* border: 1px solid gray; */
    padding: 0 10px;
    /* border-radius: 5px; */
    /* box-shadow: 1px 1px 1px 1px gray ; */
}

